body{
  margin: 0;
  padding: 0 0 5% 0;
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
}
nav{
  z-index: 1;
}

.fix{
  padding-top: 100px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  bottom:0;
  padding-right: 40px;
  color:white;
}
.sort li{
  list-style-type: none;
  list-style: circle;
  margin-left: -10px;
}
.sort{
  margin-top: 20%;
  margin-left:20px;
}

.c1{
  margin: 0;
  margin-left: 5%;
  padding-top: 50px;
}
.image{
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.column{

}
.r1{
  margin-top: 10px;
}
.c2{
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5%;
}

input[name="search"]{
  height: 46px;
}
.roti{
  /* margin-left: 70px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 20%;
}

@media screen and (max-width:1000px) {
  input[name="search"]{
    width:  150px;
  }
}
